<?xml version="1.0" encoding="utf-8"?>

<RunSettings>

<DataCollectionRunSettings>

<DataCollectors>

<DataCollector friendlyName="XPlat Code Coverage">

<Configuration>

<Format>cobertura</Format>

<!-- Ignora todos os arquivos dentro de pastas Repositories -->

<ExcludeByFile>**/Repository/**/*.cs</ExcludeByFile>

<!-- Ignora namespaces/assemblies específicos (ajuste o assembly se necessário) -->

<Exclude>[Closetly]Closetly.Repository.*</Exclude>
<Exclude>[Closetly]Closetly.Data.*</Exclude>

<ExcludeByFile>**/Models/**/*.cs</ExcludeByFile>
<ExcludeByFile>**/Data/**/*.cs</ExcludeByFile>
<ExcludeByFile>**/Program.cs</ExcludeByFile>

<Exclude>[Closetly]Closetly.Models.*</Exclude>

<!-- Ignora membros/ classes marcadas com [ExcludeFromCodeCoverage] -->

<ExcludeByAttribute>^ExcludeFromCodeCoverageAttribute$</ExcludeByAttribute>

</Configuration>

</DataCollector>

</DataCollectors>

</DataCollectionRunSettings>

</RunSettings>